.Rproj.user
.Rhistory
.RData
.Ruserdata

# 'data' folder #
data/

# Deployment secrets
shiny_app/deployment/deployment_secrets.R

# credentials_update script
shiny_app/password_protect/credentials_update.R

# rsconnect folder
shiny_app/rsconnect/

# Google analytics html
shiny_app/www/google-analytics.html

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# SPSS formats #
*.[sS][aA][vV]
*.[zZ][sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# MacOS folder attributes files #
.DS_Store
*.Rproj
