/*
 For info box e.g. summary page boxes
 * Based on https://github.com/rstudio/shinydashboard/blob/main/inst/AdminLTE/AdminLTE.css
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: 100px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.info-box small {
  font-size: 12px;
}

.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 115px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  color: white;
}
.info-box-icon > img {
  max-width: 100%;
  color: white;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 25px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  max-width: 80%;
  text-transform: none !Important;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}

/* Don't highlight text when info box is in <a> tag */
a > .info-box {
  color: #333;
}

.info-box-icon.bg-green { background-color:var(--phs-green); color: white;  }
.info-box-icon.bg-purple { background-color:var(--phs-purple); color: white; }
.info-box-icon.bg-blue { background-color:var(--phs-blue); color: white; }
.info-box-icon.bg-fuchsia { background-color:var(--phs-magenta); color:white; }
.info-box-icon.bg-olive { background-color:var(--phs-graphite);color: white;  }
.info-box-icon.bg-teal { background-color:var(--phs-teal);  color: white; }
.info-box-icon.bg-red { background-color:var(--phs-rust);  color: white; }
